*{
	margin:0;
	padding:0;
	
	}
	.main{
		width: 100%;
		background: linear-gradient(to top, rgba(0,0,0,0.5)50%, (0,0,0,0.5)50%, url (bc1.jpg);
		background-position: center;
		background-size: cover;
		height:109vh;
		
		}